.collapses-about {
  width: 85%;
  margin: auto;
}
.collapses-about .collapse-title {
  margin-top: 2rem;
}
.collapses-about p {
  margin: auto;
  padding-top: 3rem;
}

@media screen and (max-width: 550px) {
  .collapses-about {
    width: 100%;
  }
  .collapses-about .collapse-title {
    margin-top: 0.8rem;
  }
}
