footer {
  width: 100%;
  background-color: black;
  position: relative;
  bottom: -2rem;
}
.logo-Footer {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}
.logo-Footer img {
  width: 6rem;
}
.copyright {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  padding-bottom: 2rem;
}

@media screen and (max-width: 426px) {
  .logo-Footer img {
    width: 5rem;
  }
  .copyright {
    font-size: 1.2rem;
  }
}
